.homepanel {
    background-image: url(../videos/banner.mp4);
    height: 88vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    background-position: center;
}

.homepanel video {
    position: fixed;
    bottom: 0;
    right: 0;
    height: auto;
    width: auto;
    min-height: 100%;
    min-width: 100%;
    z-index: -9999;
}

.homepanel h1 {
    text-align: center;
    font-size: 10em;
    padding-top: 200px;
    stroke-width: 1px;
    stroke: black;
    text-shadow: 10px 10px 10px black;
}

.homepanel h2 {
    text-align: center;
    text-shadow: 2px 0px 5px black;
}

.homepanel img {
    margin: auto;
    display: block;
}

.main {
    background-color: #454545;
}

.bkg {
    background-color: #454545;
}

.left {
    display: block;
    width: 70%;
    padding-right: 40px;
}

.right {
    display: block;
    width: 30%;
}

.discord {
    margin-top: 30px;
    width: 100%;
    height: 700px;
    border-radius: 10px;
    box-shadow: 1px 1px 10px black;
    border: 0;
    
}

.resume {
    display: block;
    margin: 30px auto;
    width: 100%;
    height: 50vw;
    border-radius: 10px;
    box-shadow: 10px 10px 10px black;
}

.map {
    display: block;
    margin: 30px auto;
    width: 100%;
    height: 50vw;
    border-radius: 10px;
    box-shadow: 10px 10px 10px black;
}

.row {
    margin-bottom: 20px;
}

.row h1 {
    text-align: center;
}

.columneq {
    width: 50%;
    padding-left: 10px;
    padding-right: 10px;
}

.aboutme > p{
    text-align: center;
    width: 100%;
    margin: auto;
    margin-top: 10px;
    width: 50%;
}

.aboutme h2 {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}


@media only screen and (max-width: 1100px) {
    .homepanel {
        height: 25vh;
    }

    .homepanel h1 {
        padding-top: 20px;
        font-size: 2em;
    }

    .homepanel video {
        width: 100%;
        position: fixed;
        top: 0;
        right: auto;
        left: auto;
        bottom: auto;
        min-height: unset;
    }

    .homepanel img {
        display: none;
    }

    .left {
        width: 100%;
        padding-right: 0;
    }
    .right {
        width: 100%;
    }

    .right {
        padding-bottom: 30px;
    }

    .discord {
        height: 600px;
    }

    .columneq {
        width: 100%;
        padding-left: 0px;
        padding-right: 0px;
    }

    .aboutme > p {
        width: 90%;
    }
}
