main h1 {
    text-align: center;
    margin-bottom: 20px;
}

.photoblock {
    display: block;
    width: 50%;
    padding: 10px;
}

.photoblock img {
    width: 100%;
    border-radius: 50px;
    margin: auto;
    margin-bottom: 10px;
    float: left;
    box-shadow: 0 1px 10px black;
    transition: .5s;
}

.photoblock h1 {
    text-align: center;
    margin: 5px;
}

.photoblock h2 {
    color: gray;
    text-align: center;
}

.photoblock p {
    text-align: center;
    color: grey;
}

.whitehover img:hover {
    box-shadow: 0 1px 10px white;
}

.blackhover img:hover {
    box-shadow: 0 1px 10px red;
}

.focusoh {
    transition: 2s;
}

.focusoh:hover {
    width: 100%;
}

.fullwidth {
    width: 100%;
}

@media only screen and (max-width: 1500px){
    .photoblock {
        width: 100%;
    }

    .photoblock img {
        width: 100%;
    }
    
}