@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Pinyon+Script&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #454545;
}

header {
    width: 100%;
    box-shadow: 0 5px 10px black;
    height: 10vh;
    min-height: 100px;
    background-color: #606060;
}

.logo {
    width: 33%;
    font-family: 'Pinyon Script', cursive;
    text-align: center;
}

.logo h1{
    font-size: 5em;
    color: gold;
    font-family: 'Pinyon Script', cursive;
    text-shadow: 0 10px 10px black;
}

.title {
    padding-top: 25px;
    width: 33%;
    text-decoration: none;
    text-align: center;
}

.title a{
    text-decoration: none;
    text-shadow: 0 10px 10px black;
    font-size: 2.5em;
    transition: 0.5s;
}

.title a:hover {
    color: gold;
}

main {
    width: 80%;
    margin: auto;
    margin-top: 3vh;
}

main > p {
    text-align: center;
    width: 30%;
    margin: auto;
    margin-bottom: 30px;
}

nav {
    padding: 12px;
    margin-top: 25px;
    width: 33%;
}

nav ul{
    display: block;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li{
    display: block;
    width: 80px;
    padding: 0;
    margin: 0;
    float: left;
    text-shadow: 1px 1px black;
}

nav a{
    text-align: center;
    width: 100%;
    font-weight: 700;
    color: white;
    text-decoration: none;
    display: block;
    transition: 0.5s;
}

nav a:hover{
    color: gold;
}

nav img {
    display: block;
    padding: 0;
    width: 60px;
    box-shadow: 0px 0px 10px black;
    border-radius: 30px;
    background-color: #fff;
    margin-bottom: 30px;
}

.youtube {
    display: block;
    margin: auto;
    border-radius: 30px;
    box-shadow: 0 10px 10px black;
    width: 100%;
    height: 91vh;
    margin-bottom: 30px
}

.column {
    float: left;
}

.row:after{
    content: "";
    display: table;
    clear: both;
}

.github {
    position: fixed;
    display: block;
    right: 150px;
    bottom: 50px;
}

.github img {
    padding: 0;
    margin: 0;
    width: 80px;
    height: 80px;
    background-color: #fff;
    box-shadow: 0px 0px 20px black;
    border-radius: 40px;
    transition: 0.2s;
}

.github img:hover {
    box-shadow: 0px 0px 20px gray;
}
.uparrw {
    position: fixed;
    display: block;
    right: 50px;
    bottom: 50px;

}

.uparrw a {
    text-align: center;
    display: block;
    width: 80px;
    height: 80px;
    text-decoration: none;
    border-radius: 40px;
    background-color: #99999999;
    color: #454545;
    font-size: 4em;
    font-weight: 500;
}

form {
    margin-top: 10px;
    background-color: #606060;
    width: 50%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 1px 1px 10px black;
}

form input {
    color: #454545;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
}

form input[type="text"], form input[type="email"] {
    box-sizing: border-box;
    padding: 10px;
    width: 100%;
    color: #454545;
}

.overflow {
    overflow-x: auto;
}

table {
    min-width: 900px;
    width: 100%;
    text-align: center;
    margin-bottom: 100px;
}

th,td,tr {
    padding: 5px;
}

th {
    border-bottom: 2px solid black;
}

.software td {
    width: 16%;
}
.software img {
    height: 150px;
}

.credit {
    color: gray;
}

.credit a {
    text-decoration: none;
    color: gray
}

.socialgroup {
    width: 20%;
    margin: auto;
}

.social {
    width: 10%;
    margin: auto 2px;
}

.social {
    filter: contrast(70%);
    transition: .5s;
}

.social:hover {
    filter: contrast(90%);
}

footer {
    background-color: #454545;
    width: 100%;
    margin-top: 100px;
    padding-top: 20px;
    padding-bottom: 20px;
    color: gray;
    text-align: center;
    box-shadow: 0 1px 100px black;
}

footer p{
    color: gray;
}

footer a{
    color: #999999;
    text-decoration: none;
    transition: 0.5s;
}

footer a:hover {
    color: white;
}

@media only screen and (max-width: 1100px) {
    header {
        height: 400px;
    }
    
    nav {
        width: 100%;
        margin-bottom: 50px;
        line-height: 300%;
    }

    nav ul li {
        float: none;
        margin: auto;
    }

    nav a {
        font-size: 150%;
    }

    .logo {
        width: 33%;
    }

    .title {
        width: 66%;
    }

    main > p {
        width: 90%;
    }

    .uparrw {
        display: none;
    }

    .github {
        right: 10px;
        bottom: 10px;
    }

    .socialgroup {
        width: 50%;
    }

}

@media only screen and (max-width: 500px) {
    main {
        width: 100%;
    }

    .logo h1{
        padding-top: 20px;
        font-size: 3em;
    }

    .title a {
        font-size: 2em;
    }
}