@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Pinyon+Script&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #454545;
}

header {
    width: 100%;
    box-shadow: 0 5px 10px black;
    height: 100px;
    background-color: #606060;
}

.logo {
    width: 33%;
    font-family: 'Pinyon Script', cursive;
    text-align: center;
}

.logo h1{
    font-size: 5em;
    color: gold;
    font-family: 'Pinyon Script', cursive;
    text-shadow: 0 10px 10px black;
}

.title {
    padding-top: 25px;
    width: 33%;
    text-decoration: none;
    text-align: center;
}

.title a{
    text-decoration: none;
    text-shadow: 0 10px 10px black;
    font-size: 2.5em;
    transition: 0.5s;
}

.title a:hover {
    color: gold;
}

main {
    width: 80%;
    margin: auto;
    margin-top: 3vh;
}

nav {
    padding: 12px;
    margin-top: 25px;
    width: 33%;
}

nav ul{
    display: block;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li{
    display: block;
    width: 80px;
    padding: 0;
    margin: 0;
    float: left;
    text-shadow: 1px 1px black;
}

nav a{
    text-align: center;
    width: 100%;
    font-weight: 700;
    color: white;
    text-decoration: none;
    display: block;
    transition: 0.5s;
}

nav a:hover{
    color: gold;
}

img {
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    -o-user-select: none;
    user-select: none;
}

.youtube {
    display: block;
    margin: auto;
    border-radius: 30px;
    box-shadow: 0 10px 10px black;
    width: 100%;
    height: 91vh
}

.column {
    float: left;
}

.row:after{
    content: "";
    display: table;
    clear: both;
}

footer {
    background-color: #454545;
    width: 100%;
    margin-top: 100px;
    padding-top: 20px;
    padding-bottom: 20px;
    color: gray;
    text-align: center;
    box-shadow: 0 1px 100px black;
}

footer p{
    color: gray;
}

footer a{
    color: #999999;
    text-decoration: none;
    transition: 0.5s;
}

footer a:hover {
    color: white;
}

@media only screen and (max-width: 1100px) {
    header {
        height: 350px;
    }
    
    nav {
        width: 100%;
        margin-bottom: 50px;
        line-height: 300%;
    }

    nav ul li {
        float: none;
        margin: auto;
    }

    nav a {
        font-size: 150%;
    }

    .logo {
        width: 33%;
    }

    .title {
        width: 66%;
    }
}

@media only screen and (max-width: 500px) {
    main {
        width: 100%;
    }

    .logo h1{
        padding-top: 20px;
        font-size: 3em;
    }

    .title a {
        font-size: 2em;
    }
}